:host {
      display: block;
      min-height: 100vh;
      font-family: 'Inter', sans-serif;
    }

    
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left-animation {
  animation: slideLeft 1s ease-out forwards;
}
